body{
    background-color: blanchedalmond;
    justify-content: center;
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.counter-app{
    text-align: center;
}

#counter {
    font-size: 60px;
    margin-bottom: 20px;
}
button{
    background-color: rgb(231, 161, 68);
    
    font-size: 30px;
    padding: 15px 32px;
    cursor: pointer;
}