body{
    display: flex;
    padding: 50px;
    align-items: center;
    background-color: antiquewhite;
    margin: 0;
    justify-content: center;
    height: 80vh;
}
.clock{
    background-color: rgb(0, 0, 0);
    padding: 20px;
}
.box {
  border: 4px solid black;
  font-size: 60px;
  padding: 40px;
  min-width: 120px;
  text-align: center;
  border: 5px solid antiquewhite;
}
.time {
  display: flex;
  gap: 10px;
  color: rgba(98, 78, 43, 0.99);
}